@import "variables";
@import "mixins";

.footer {
  background-color: $color-primary;
  font-size: 2rem;
  padding-block: 1rem;
  color: $color-white;

  &.container {
    grid-template-rows: initial;
    min-height: initial;
    height: 100%;
  }

  &_body {
    grid-column: center-start / center-end;
    height: 100%;

    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @include respond(lg-phone) {
      flex-direction: row;
    }
  }

  &_heading {
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-style: italic;
  }

  &_text {
    font-size: 0.8em;
  }
}
