<section class="about">
    <h2 class="about_heading">About Us</h2>


  <div class="about_container flex align-center">
    <p class="about_text about_left">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
      possimus? A esse non quos assumenda rerum animi ducimus laborum deserunt
      velit ea. Doloribus debitis atque aliquid praesentium illo. Laboriosam sit
      at, dolore repellat excepturi tenetur sed, ducimus culpa eveniet pariatur
      hic. Ipsum maxime dolore, veritatis modi ab labore perferendis ut amet aut
      excepturi sequi consequuntur beatae atque harum nesciunt provident error
      quasi quo at ipsam a temporibus quaerat minus? Illo temporibus iusto at
      distinctio nulla earum expedita esse, sit corrupti vel sint? Delectus vel
      illo ut laudantium. Ea dolores architecto in rem at incidunt soluta libero
      et asperiores? Maxime, ipsam!
    </p>
    <article class="about_right">
        <img src="assets/img/about.jpg" alt="about-image">
    </article>
  </div>
</section>
